/* body{
    background-color: #262626;
    color: white;
} */

@media screen and (min-width: 480px) {
    .hero-img img{
        max-width: 500px;
        
    }
    
  }
@media screen and (max-width: 480px) {
    body{
        background-color: #262626;
        color: white;
    }
    .mobile-w{
        width: 100%;
        
    }
    .hero-img img{
        max-width: 300px;
        margin: auto;
    }
    .name{
        font-size: 3rem;
    }
    
  }