.about-img img {
  max-width: 300px;
  border-radius: 50%;
  border-right: 4px solid white;
}
.about-img {
  position: relative;
}
/* .about-img::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 330px;
    height: 330px;
    
    /* background-color: white; 
    border: 2px solid white;
    z-index: 1;

} */
.about-skills h6:before {
  content: ">>";
  padding-right: 5px;
}

.about-animate {
  animation: AboutAminate 5s;
  /* transform-origin: top; */
  transition: 2s;
}
.fade-in {
  opacity: 1;
  transition: 1s ease-in;
  transform-origin: top;
}
.fade-out {
  opacity: 0;
}
/* === Anmation === */
@keyframes AboutAminate {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 425px) {
  .about-section {
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-img img {
    max-width: 150px;
  }
  .about-content p,
  h3,
  span,
  h6 {
    font-size: 12px;
  }
}
